<div>
	<a ng-href="#/listMetaEspecifica" class="btn btn-primary">
		Voltar
	</a>
</div>
<div>
	<div ng-controller="MetaEspecificaController">
		<div class="jumbotron">
			<h1 class="text-center">
				Adicionando Meta Especifica
			</h1>
		</div>
		<form novalidate>
		  	<div class="form-group">
	    		<label for="sigla">Sigla</label>
				<input class="form-control" id="sigla" ng-model="metaEspecifica.sigla"> </input><br>
	    		<label for="nome">Nome</label>
				<input class="form-control" id="nome" ng-model="metaEspecifica.nome"> </input><br>
	    		<label for="descricao">Descrição</label>
				<input class="form-control" id="descricao" ng-model="metaEspecifica.descricao"> </input><br>
				
				<div>
					<label for="praticaEspecifica">Práticas Específicas</label>
					<div>
						<select ng-model="metaEspecifica._praticaEspecifica" multiple id="praticaEspecifica">
							<option ng-repeat="praticaEspecifica in praticaEspecificas" value="{{praticaEspecifica._id}}">{{praticaEspecifica.nome}}</option>
						</select>
					</div>
				</div>


				<div>
					<a ng-href="#/listMetaEspecifica" class="btn btn-primary" ng-click="save()"> 
						Cadastrar	
					</a>
				</div>
			<div>
		</form>

	</div>
</div>