<script src="js/areaProcesso/areaprocesso-module.js"></script>
<script src="js/areaProcesso/areaprocesso-service.js"></script>
<script src="js/areaProcesso/areaprocesso-controller.js"></script>
<div>
	<a ng-href="#/main" class="btn btn-primary">
		<- Voltar
	</a>
</div>
<div ng-app="AreaProcessoModule" >
	<div ng-controller="AreaProcessoController">
		<br>
		
		<div class="well">
			<h1 class="text-center">
				Adicionando Area de Processo
			</h1>
		</div>

		Sigla<input class="form-control"> </input><br>
		Nome<input class="form-control"> </input><br>
		Descrição<input class="form-control"> </input><br>

		<div>
			<button ng-href="#/main"> 
				Cadastrar
			</button>
		</div>
	</div>
</div>