<br><a ng-href="#/main" class="btn btn-primary">
Voltar
</a>
<br><br><br>
<div class="well">
    <h1 class="text-center">
      	Níveis de Capacidade
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Sigla</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
        <tr>
            <td>ABC</td>
            <td>Primeiro Nivel de Capacidade</td>
            <td>Essa é a descrição</td>
        </tr>
        <tr>
            <td>DEF</td>
            <td>Segundo Nivel de Capacidade</td>
            <td>Essa é a descrição</td>
        </tr>
        <tr>
            <td>GHI</td>
            <td>Terceiro Nivel de Capacidade</td>
            <td>Essa é a descrição</td>
        </tr>

    </table>
</div>
<a ng-href="#/addNivelCapacidade" class="btn btn-primary">
Cadastrar
</a>