<br><a ng-href="#/main" class="btn btn-primary">
Voltar
</a>
<br><br><br>
<div class="well">
    <h1 class="text-center">
       Produtos de Trabalho
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Nome</th>
            <th>Template</th>
        </tr>

        <tr>
            <td>Primeiro Produto de Trabalho</td>
            <td>Template 1</td>
        </tr>
        <tr>
            <td>Segundo Produto de Trabalho</td>
            <td>Template2</td>
        </tr>
        <tr>
            <td>Terceiro Produto de Trabalho</td>
      		<td>Template3</td>  
        </tr>

    </table>
</div>
<a ng-href="#/addProdutoTrabalho" class="btn btn-primary">
Cadastrar
</a>