<br><a ng-href="#/main" class="btn btn-primary">
Voltar
</a>
<br><br><br>
<div class="jumbotron">
    <h1 class="text-center">
       Metas Genéricas
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Sigla</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>

        <tr>
            <td>ABC</td>
            <td>Primeira Meta Genérica</td>
            <td>Essa é a descrição</td>
        </tr>
        <tr>
            <td>DEF</td>
            <td>Segunda Meta Genérica</td>
            <td>Essa é a descrição</td>
        </tr>
        <tr>
            <td>GHI</td>
            <td>Terceira Meta Genérica</td>
            <td>Essa é a descrição</td>
        </tr>

    </table>
</div>
<a ng-href="#/addMetaGenerica" class="btn btn-primary">
Cadastrar
</a>