    <br><br>
    <div>
        <a ng-href="#/listAreaProcesso" class="btn btn-primary">
            Listar Área de Processo
        </a>

        <a ng-href="#/listCategoria" class="btn btn-primary">
            Listar Categoria
        </a>

        <a ng-href="#/listModelo" class="btn btn-primary">
            Listar Modelo
        </a>

        <a ng-href="#/listNivelMaturidade" class="btn btn-primary">
            Listar Nível de Maturidade
        </a>

        <a ng-href="#/listProdutoTrabalho" class="btn btn-primary">
            Listar Produto de Trabalho
        </a>

        <a ng-href="#/listMetaGenerica" class="btn btn-primary">
            Listar Meta Genérica
        </a>
    </div><br>
    <div align="center">

        <a ng-href="#/listMetaEspecifica" class="btn btn-primary">
            Listar Meta Específica
        </a>

        <a ng-href="#/listNivelCapacidade" class="btn btn-primary">
            Listar Nível de Capacidade
        </a>

        <a ng-href="#/listPraticaEspecifica" class="btn btn-primary">
            Listar Prática Específica
        </a>
    </div>

