<div class="well">
	<h1 class="text-center">
		Cadastro de Modelos de Melhoria de Processo de Software
	</h1>
</div>

<ul class="list-group">
	<li class="list-group-item text-center">Rafael de Moura Dietrich - mrafael.dietrich@gmail.com</li>
	<li class="list-group-item text-center">Franco Bulich Jr. - fbulich@gmail.com</li>
	<li class="list-group-item text-center">Leonardo Rovaris - leo_rovaris@hotmail.com</li>
	<li class="list-group-item text-center">William Ott de Queiroz - williamottq@gmail.com</li>
</ul>