<div>
    <a ng-href="#/addAreaProcesso" class="btn btn-primary">
    Cadastrar Área de Processo
    </a>
</div><br>
<div>
    <a ng-href="#/addCategoria" class="btn btn-primary">
        Cadastrar Categoria
    </a>
</div><br>
<div>
    <a ng-href="#/addModelo" class="btn btn-primary">
        Cadastrar Modelo
    </a>
</div><br>
<div>
    <a ng-href="#/addNivelMaturidade" class="btn btn-primary">
        Cadastrar Nível de Maturidade
    </a>
</div><br>
<div>
    <a ng-href="#/addProdutoTrabalho" class="btn btn-primary">
        Cadastrar Produto de Trabalho
    </a>
</div><br>
<div>
    <a ng-href="#/addMetaGenerica" class="btn btn-primary">
        Cadastrar Meta Genérica
    </a>
</div><br>
<div>
    <a ng-href="#/addMetaEspecifica" class="btn btn-primary">
        Cadastrar Meta Específica
    </a>
</div><br>
<div>
    <a ng-href="#/addNivelCapacidade" class="btn btn-primary">
        Cadastrar Nível de Capacidade
    </a>
</div><br>
<div>
    <a ng-href="#/addPraticaEspecifica" class="btn btn-primary">
        Cadastrar Prática Específica
    </a>
</div><br>
