<div ng-controller="CategoriaController">
    <div class="jumbotron">
        <h1 class="text-center">
            Categorias
        </h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Nome</th>
                <th>Ações</th>               
            </tr>

            <tr ng-repeat="existingCategoria in retrievedCategorias">
                <td>{{ existingCategoria.nome }}</td>
                <td>
                    <a ng-href="#/mostraCategoria/:"+{{ existingCategoria.id }} class="btn btn-default">Visualizar</a>
                    <a class="btn btn-danger" ng-click="delete(existingCategoria)"> 
						Deletar	
					<a>
                </td>           
            </tr>

        </table>
    </div>    
    <a ng-href="#/addCategoria" class="btn btn-primary">
        Cadastrar
    </a>
</div>