<div ng-controller="PraticaEspecificaController">
    <div class="jumbotron">
        <h1 class="text-center">
            Práticas Específicas
        </h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>

            <tr ng-repeat="existingPraticaEspecifica in retrievedPraticaEspecificas">
                <td>{{ existingPraticaEspecifica.sigla }}</td>
                <td>{{ existingPraticaEspecifica.nome }}</td>
                <td>{{ existingPraticaEspecifica.descricao }}</td>
                <td>
                    <!-- <a ng-href="#/mostraPraticaEspecifica/{{ existingPraticaEspecifica._id }}" class="btn btn-default">Visualizar</a> -->
                    <a class="btn btn-danger" ng-click="delete(existingPraticaEspecifica)">Deletar</a>
                </td>
            </tr>

        </table>
    </div>
    <a ng-href="#/addPraticaEspecifica" class="btn btn-primary">
        Cadastrar
    </a>
</div>