<div>
	<a ng-href="#/listAreaProcesso" class="btn btn-primary">
		Voltar
	</a>
</div>
<div>
	<div ng-controller="AreaProcessoController">

		<br>
		
		<div class="jumbotron">
			<h1 class="text-center">
				Adicionando Area de Processo
			</h1>
		</div>
		<form novalidate>
		  	<div class="form-group">
	    		<label for="sigla">Sigla</label>
				<input class="form-control" id="sigla" ng-model="areaProcesso.sigla"> </input><br>
	    		<label for="nome">Nome</label>
				<input class="form-control" id="nome" ng-model="areaProcesso.nome"> </input><br>
	    		<label for="descricao">Descrição</label>
				<input class="form-control" id="descricao" ng-model="areaProcesso.descricao"> </input><br>

				<div>
					<a ng-href="#/listAreaProcesso" class="btn btn-primary" ng-click="save()"> 
						Cadastrar	
					</a>
				</div>
			<div>
		</form>

	</div>
</div>