<div ng-controller="AreaProcessoController">
    <div class="jumbotron">
        <h1 class="text-center">
            Áreas de Processo
        </h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Nível de Maturidade</th>
            </tr>

            <tr ng-repeat="existingAreaProcesso in retrievedAreaProcessos">
                <td>{{ existingAreaProcesso.sigla }}</td>
                <td>{{ existingAreaProcesso.nome }}</td>
                <td>{{ existingAreaProcesso.descricao }}</td>
                <td>{{ existingAreaProcesso._categoria.nome }}</td>
                <td>{{ existingAreaProcesso._nivelMaturidade.nome }}</td>
            </tr>

        </table>
    </div>
    <a ng-href="#/addAreaProcesso" class="btn btn-primary">
        Cadastrar
    </a>
</div>