<div ng-controller="MetaGenericaController">
    <div class="jumbotron">
        <h1 class="text-center">
            Meta Genérica
        </h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Sigla</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Nível de Capacidade</th>
                <th></th>
            </tr>

            <tr ng-repeat="existingMetaGenerica in retrievedMetaGenericas">
                <td>{{ existingMetaGenerica.sigla }}</td>
                <td>{{ existingMetaGenerica.nome }}</td>
                <td>{{ existingMetaGenerica.descricao }}</td>
                <td>{{ existingMetaGenerica._nivelCapacidade.nome }}</td>
                <td>
                    <a class="btn btn-danger" ng-click="delete(existingMetaGenerica)"> 
						Deletar	
					<a>
                </td> 
            </tr>

        </table>
    </div>
    <a ng-href="#/addMetaGenerica" class="btn btn-primary">
        Cadastrar
    </a>
</div>